
<div id="container-exp">
	<div id="trial">
		<div id="prompt">
			<h1>Phase 1</h1>
			<font color="grey">
			<p>Use the slider to choose the time between images (here, colored squares) so you can best remember them. Move it around to try different speeds!</p>
			</font>
		</div>
		<div id="visual_stim"></div>


		<center>
			<div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
				<span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 0%;">
			</span></div>
			<p>Faster&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Slower</p>
			<br />
			<button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">Ready</button>
		</center>
	</div>
</div>
