<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">

        <p>
            Great! Now you will choose the pace at which <b>some</b> of the items will be presented during the experiment. The idea is similar to
            controlling how fast someone is talking to you. Please choose a speed that you think will work best for your memory. <span id="blockedinstr"></span>
        </p>
        <p>
            On the next page, you will use the slider to adjust the time between object presentations until you are happy with the speed. Choose a speed that you think will best allow to you to remember what you see.
        </p>
        <p>
            Note that you will not finish the experiment faster if you choose a fast speed: we will give a final task to fill the remaining time. Just choose what is best for your memory--thanks!
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        if(condition==="0") {
          document.getElementById("blockedinstr").innerHTML = 'When you see items at your chosen pace, the screen will say "(You chose)". When we choose the pace, the screen will say "(We chose)".';
        }
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
