<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">

        <p>
            Now you will have a short color rating task, and then you are done. If the color patch is blue, press Q. If the color patch is not blue, press P.
        </p>

        <p>
            Please be fast but accurate. Thank you!
        </p>


    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">

            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
