<div id="container-instructions">

	<h1>Instructions</h1>

	<hr>

	<div class="instructions well">

	    <p>
	    	In this experiment, we are interested in studying how people learn.
        Your task will be to study 60 pictures of unusual objects on a series of slides.
        <b>You should try to memorize as many of the objects as you can</b>. 
        Directly after the study period, you will be tested on your memory.
      </p>
			<p>
				It is often hard to learn when information is presented too fast or twoo slow.  In this experiment, you will be asked to adjust how long a pause you want between each picture.  We are interested knowing the rate of information people prefer.
        <b>Please choose a speed that you believe will best allow you to remember 60 objects</b>. If you choose a fast pace, you will not finish the HIT any earlier than choosing a slower pace as there is a task at the end to fill the remaining time.
			</p>

      <p>
      		To reiterate, we are interested in how well memory works when people can control the rate of information presentation.
          <b>Please do not write anything down or use screen recordings.</b>  Just use your mind and intelligence!
      </p>


	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
