<div id="container-instructions">

	<h1>Instructions</h1>

	<hr>

	<div class="instructions well">

	    <p>
	    	In this experiment, you will study pictures of unusual objects on a series of slides.
        <b>Your goal is to try to remember 60 pictures you will see, one at a time</b>. You will get to choose how long a pause there is between each picture, because we are interested in seeing what rate of information people prefer, similar to seeing if people prefer a lecturer speaking faster or slower.
      </p>
			<p>
				Please choose a speed that will best allow you to remember 60 objects. Note that if you choose a fast pace, you will not finish any earlier than choosing a slower pace: we will give you a short task at the end to fill the remaining time.
			</p>
      <p>
        Directly after the study period, you will be asked which images you remember from study.
      </p>
      <p>
      		To reiterate, we are interested in how well memory works when people can control the rate of information presentation.
          <b>Please do not write anything down or use screen recordings.</b>  Just use your mind and intelligence!
      </p>


	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
